<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFintech Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <h1>Upload Excel for Sentiment Analysis</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="file">Choose a Excel file to upload:</label>
        <input type="file" name="file" id="file" accept=".csv" required>
        <br><br>
        <input type="submit" value="Analyze">
    </form>
</body>
</html>
